<h1>Stack Overflow Status</h1>
<div class="row">
  <div class="span4">
    <div id="status-today" class="chart-container"></div>
  </div>
  <div class="span4">
    <div id="status-week" class="chart-container"></div>
  </div>
  <div class="span4">
    <div id="status-month" class="chart-container"></div>
  </div>
</div>

<h1>Tags</h1>
<div class="row">
  <div class="span4">
    <div id="tags-today" class="chart-container"></div>
  </div>
  <div class="span4">
    <div id="tags-week" class="chart-container"></div>
  </div>
  <div class="span4">
    <div id="tags-month" class="chart-container"></div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h1>Team</h1>
    <br />
    <table class="table table-bordered table-striped">
      <tr>
        <th>User</th>
        <th>Total questions</th>
        <th>Open questions</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.display_name %></td>
          <td><%= user.assignments.length %></td>
          <td><%= user.assignments.select("Status <> 'Closed'").length %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="span6">
    <h1>Questions</h1>
    <br />
    <table class="table table-bordered table-striped" id="status-table">
      <tr>
        <th>Period</th>
        <th>Is unanswered</th>
        <th>Has answers</th>
        <th>Is answered</th>
      </tr>
      
    </table>
  </div>
</div>

<script>$(document).ready(function(){ do_live_stats(); });</script>




