<!--
<%= @questions.inspect.html_safe %>
-->

<h2>Open questions assigned to you</h2>
<ul id="open-assigned-questions">
  <%= render :partial => 'questions', :locals => { :questions => @questions, :assigned_questions => @assigned_questions } %>
</ul>

<h2>All open questions</h2>
<ul id="open-questions">
  <%= render :partial => 'questions', :locals => { :questions => @all_questions, :assigned_questions => @all_assigned_questions } %>
</ul>