<section id="profile">
  <div class="row">
    <div class="span10">
      <h1><%= @me.display_name %></h1>
    </div>
    <div class="span2">
      <img src="<%= @me.profile_image %>" class="pull-right">
    </div>
  </div>

  <h2>Your details</h2>
  
  <h2>Your answers</h2>
  <div id="posted-answers">
    <ul>
      
    </ul>
  </div>
</section>